* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2pt;
  margin: 0;
  color: black;
  background-color: #f8fafb;
}

h4 {
  color: #784d3a;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: center;
  padding: 8px;
}

h2 {
  padding: 20px;
  text-align: center;
}

p {
  text-align: center;
}

.header {
  padding: 60px;
  text-align: center;
  background: #e7ccbfad;
  ;
}

.navbar {
  display: flex;
  background-color: #784d3a;
}

.navbar a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.navbar a:hover {
  background-color: #e7ccbfad;
  color: white;
}

.grid-container {
  display: grid;
  padding: 20px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image {
  filter: grayscale(30%);
  border: solid 5px #784d3a;
  border-radius: 50%;
}

.skills {
  flex: 70%;
  padding: 20px;
}

.projects {
  flex: 70%;
  padding: 20px;
}

h4.border-2 {
  border-bottom: solid 1px #784d3a;
}

.border {
  border: solid 2px #784d3a;
  border-radius: 5%;
}

.center {
  text-align: center;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #e7ccbfad;
}

@media only screen and (max-width: 992px) {

  .grid-container,
  .navbar {
    flex-direction: column;
  }
}
